.burger-parts {
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

body{
    background-color: #2b2a2a;
}
.burger-representation {
    width: 620px;
    height: 200px;
    margin-left: 300px;
    margin-top: 150px;
}
.burger-representation::before {
    content: url("test/asset-1.svg");
    display:block;
    width: 250px;
    height: 110px;
    background-repeat: no-repeat;
}

.burger-representation::after {
    content: url("test/asset-23.svg");
    display:block;
    width: 250px;
    height: 110px;
    background-repeat: no-repeat;
}


.brioche-bun {
    width: 250px;
    height: 80px;
    background-color: white;
}

.beef-patty{
    width: 250px;
    height: 80px;
    background-image: url("test/pirjoala-de-vita.svg");
    background-repeat: no-repeat;
    position: relative;
    animation-name: example;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
}
h4{
    margin-top: 3px;
}
.breaded-chicken-fillet {
    width: 250px;
    height: 80px;
    background-image: url("test/pirjoala-de-pui.svg");
    background-repeat: no-repeat;
    position: relative;
    animation-name: example;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.grilled-chicken-fillet {
    width: 250px;
    height: 80px;
    background-image: url("test/pirjoala-de-pui.svg");
    background-repeat: no-repeat;
    position: relative;
    animation-name: example;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.ketchup {
    width: 250px;
    height: 80px;
    background-image: url("test/ketchup.svg");
    background-repeat: no-repeat;
    position: relative;
    animation-name: example;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.tartar-sauce{
    width: 250px;
    height: 80px;
    background-image: url("test/tartar-sos.svg");
    background-repeat: no-repeat;
    position: relative;
    animation-name: example;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.mayonnaise {
    width: 250px;
    height: 80px;
    background-image: url("test/maioneza.svg");
    background-repeat: no-repeat;
    position: relative;
    animation-name: example;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.garlicBBQ-sauce {
    width: 250px;
    height: 80px;
    background-image:url("test/tartar-sos.svg") ;
    background-repeat: no-repeat;
    position: relative;
    animation-name: example;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.sriracha-sauce {
    width: 250px;
    height: 80px;
    background-image: url("test/sriracha.svg");
    background-repeat: no-repeat;
    position: relative;
    animation-name: example;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.classy-sauce {
    width: 250px;
    height: 80px;
    background-image:url("test/tartar-sos.svg");
    background-repeat: no-repeat;
    position: relative;
    animation-name: example;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.garlic-sauce {
    width: 250px;
    height: 80px;
    background-image: url("test/tartar-sos.svg");
    background-repeat: no-repeat;
    position: relative;
    animation-name: example;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.cheddar-cheese {
    width: 250px;
    height: 80px;
    background-image: url("test/cheddar.svg");
    background-repeat: no-repeat;
    position: relative;
    animation-name: example;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.dorblu-cheese {
    width: 250px;
    height: 80px;
    background-image: url("test/cascaval-dorblu.svg");
    background-repeat: no-repeat;
    position: relative;
    animation-name: example;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.crispy-bacon {
    width: 250px;
    height: 80px;
    background-image: url("test/bacon-crocant.svg");
    background-repeat: no-repeat;
    position: relative;
    animation-name: example;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.fried-egg {
    width: 250px;
    height: 80px;
    background-image: url("test/ou-prajit.svg");
    background-repeat: no-repeat;
    position: relative;
    animation-name: example;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.marinated-onion {
    width: 250px;
    height: 80px;
    background-image: url("test/ceapa-marinata.svg");
    background-repeat: no-repeat;
    position: relative;
    animation-name: example;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.caramel-onion {
    width: 250px;
    height: 80px;
    background-image: url("test/ceapa-caramelizata.svg");
    background-repeat: no-repeat;
    position: relative;
    animation-name: example;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.pickles {
    width: 250px;
    height: 80px;
    background-image: url("test/castraveti-murati.svg");
    background-repeat: no-repeat;
    position: relative;
    animation-name: example;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.cucumber {
    width: 250px;
    height: 80px;
    background-image: url("test/castraveti-proaspeti.svg");
    background-repeat: no-repeat;
    position: relative;
    animation-name: example;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.tomato {
    width: 250px;
    height: 80px;
    background-image: url("test/rosii.svg");
    background-repeat: no-repeat;
    position: relative;
    animation-name: example;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.iceberg-lettuce {
    width: 250px;
    height: 80px;
    background-image: url("test/salata-iceberg.svg");
    background-repeat: no-repeat;
    position: relative;
    animation-name: example;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

@keyframes example {
    from {top: 200px;}
    to {top: 0;}
}

.add-to-cart{
    display: flex;
    justify-content: center;
    background: orange;
    width: 350px;
    font-size: medium;
    color: white;
    height: 45px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    opacity:1;
}
.add-to-cart:hover{
    transition: 0.5s;
    opacity:0.8;
    color: darkgray;
}
.reset-craft{
    display: flex;
    justify-content: center;
    background: white;
    width: 350px;
    font-size: medium;
    color: orange;
    height: 45px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    opacity:1;
}
.reset-craft:hover{
    transition: 0.5s;
    opacity:0.8;
    color: darkgray;
}
.add-item{
    width: 250px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    color: gold;
    margin-bottom: 30px;
    margin-top: 15px;
    margin-left: 20px;
}

.plus-button{
    transition: all 0.75s;
    margin-right: 10px;
    margin-top: 10px;
}

.add-item:hover .plus-button {
    transform: rotate(45deg);
}

.item-list{
    display: block;
    background: #2b2a2a;
    border: 3px solid #f8bb46;
    width: 300px;
    font-size: large;
    color: white;
    height: 50px;
    cursor: pointer;

}

option{
    background-color: rgb(247, 210, 129);
    font-family: 'Montserrat', sans-serif;
    color: black;
}

h3{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(247, 210, 129);
}

h1{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.price{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(247, 210, 129);
}

.mass{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.total-price{
    margin-bottom: 20px;
    margin-left: 135px;
}

#personal-name{
    padding: 0 35px 0 20px;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    height: 45px;
    line-height: 41px;
    width: 214px;
    border: 2px solid #f8bb46;
}

#more{
    border-radius: 0;
    border-width: 3px;
    width: 320px;
    height: 50px;
}

#cheese{
    border-radius: 0;
    border-width: 3px;
    width: 320px;
    height: 50px;
}

#secondSauce{
    border-radius: 0;
    border-width: 3px;
    width: 320px;
    height: 50px;
}

#firstSauce{
    border-radius: 0;
    border-width: 3px;
    width: 320px;
    height: 50px;
}

#meat{
    border-radius: 0;
    border-width: 3px;
    width: 320px;
    height: 50px;
}

#bread{
    border-radius: 0;
    border-width: 3px;
    width: 320px;
    height: 50px;
}

.craft-buttons{
    margin-left: 130px;
    margin-bottom: 50px;
}

.burger-part{
    margin-left: 130px;
}

.receipt{
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}

body{
    display: flex;
}

